@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --soft-pink: hsl(333, 80%, 67%);
    --very-dark-magenta: hsl(300, 43%, 22%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}

html {
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}

/* CONTAINER CLASS */
.container {
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* CONTAINER FLUID CLASS */
.container-fluid {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}